<h1 class="jumbotron jumbotron-fluid text-center shadow p-3 mb-5 bg-dark rounded m-2 p-3 mb-2 text-white">Adopt a cat</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-white">These cats are looking for a new home!</h2>
            <ul class="list-group list-group-flush">
                {{#each cats}}
                {{#unless adoptable}}
                {{> cats/cat-block adopt=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col">
            <h2 class="text-white">YAY!! These cats have found their furrever home!</h2>
            <ul class="list-group list-group-flush">
                {{#each cats}}
                {{#if adoptable}}
                {{> cats/cat-block adopt=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body bg-light">
                    <h5 class="card-title">Add a Cat!</h5>
                    <form class="create-form">
                        <div class="form-group">
                            <label for="catName">Cat Name:</label>
                            <input type="text" id="catName" name="name">
                        </div>
                        <div class="form-group">
                            <label for="adoptable">Have they been adopted?</label><br>
                            <input class="m-2" type="radio" name="adoptable" value="1" checked>Adoptable<br>
                            <input class="m-2" type="radio" name="adoptable" value="0">Adopted!
                        </div>
                        <button type="submit" class="btn btn-dark">Add Cat</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>